.top{
  color: darkslategrey;
  text-decoration: none;
  background-color: lightgrey;
  font-weight: bold;
  padding:15px;
  text-align: justify;
}

.back{
  width: 915px;
  background-image: url("../images/fundo.png");
}

.autor{
  text-align: center;
  font-weight: bold;
  padding:15px;
}

.body{
  color: black;
  background-color: white;
  text-decoration: none;
  padding:10px;
}

.body-img{
  margin: 16px;
  border: 10px solid;
  border-color: grey;
}

.title{
  margin: 16px;
  color: grey;
  background-color: transparent;
}
.text{
  margin: 16px;
}
a {
  padding 15px;
  color: darkslategrey;
  background-color: transparent;
  text-decoration: none;
}
